html {
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

body {
	background-image: url('bg.jpg');
	background-size: 100%;
	min-width: 500px;
	text-align: center;
}

span {
	display: inline-block;
	background-color: rgba(255,255,255,0.65);
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
	text-shadow: white 0em 0em 0.4em;
}

footer {
	font-size: 20;
	text-align: center;
	text-shadow: white 0em 0em 0.4em;
}

a {
	color: blue;
}

#header {
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-weight: bold;
	font-size: 60px;
}

#container {
	width: 100%;
	float: left;
	padding-top: 20px;
}

#center {
	padding: 0px 250px 0px 250px;
	font-weight: bold;
}

#left {
	float: left;
	width: 250px;
	background-color: rgba(255,255,255,0.65);
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-shadow: white 0em 0em 0.4em;
}

#right {
	float: right;
	width: 250px;
	background-color: rgba(255,255,255,0.65);
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-shadow: white 0em 0em 0.4em;
}