html {
	font-family: arial, sans-serif;
}

body {
	/*background-image: url('');*/
	min-width: 500px;
}

body p{
	text-align: center;
}

footer {
	font-size: 20;
	text-align: center;
}

p.copy {
	font-size: 12;
}

a {
	color: blue;
}

#header {
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-weight: bold;
	font-size: 60px;
	text-align: center;
}

#container {
	width: 100%;
	float: left;
	padding-top: 20px;
}

#center {
	padding: 0px 250px 0px 250px;
}

#left {
	float: left;
	width: 250px;
}

#right {
	float: right;
	width: 250px;
}